# MySQL 데이터베이스 파일들
**/mysql/**
mysql/
**/\#innodb_redo/**
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
mysql/
#innodb_redo/
mysql/
**/mysql/
**/#innodb_redo/
